
.commonScrollStyle::-webkit-scrollbar,
.list ul li .personBox::-webkit-scrollbar,
.workBox .list::-webkit-scrollbar,
.nav ul::-webkit-scrollbar
{
  width: 3px;
  height: 3px;
  background: #E7EEF9;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.commonScrollStyle::-webkit-scrollbar-thumb,
.list ul li .personBox::-webkit-scrollbar-thumb,
.workBox .list::-webkit-scrollbar-thumb,
.nav ul::-webkit-scrollbar-thumb
{
  background-color: #CED8EA;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

* {
  font-family: 'MicrosoftYaHei';
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0) !important;
  list-style: none;
  outline: none;
}

html, body {
  height: 100%;
}

/*设置文本不能被选中*/
.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*左浮动*/
.floatL {
  float: left;
}

/*右浮动*/
.floatR {
  float: right;
}

/*清除浮动代码*/
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clearfloat {
  zoom: 1
}

[v-cloak] {
  display: none;
}

.calendarOption .el-select-dropdown__item.selected {
  color: #5996F8 !important;
}

.monthValuePicker{
  margin-top: 20px!important;
}

.monthValuePicker .el-month-table td .cell:hover, .el-month-table td.current:not(.disabled) .cell {
  color: #5996F8;
}


/*弹框通用样式*/
.el-dialog__wrapper {
  position: absolute!important;
  /* display: flex;
  align-items: center; */
}

/*文字提示样式*/
.orderTips.el-tooltip__popper {
  background: #FFF!important;
  color: #666666!important;
  font-size: 13px!important;
  box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.17) !important;
}

.orderTips.el-tooltip__popper[x-placement^=top] .popper__arrow:after {
  border-top-color: #FFF;
}

.orderTips.el-tooltip__popper .popper__arrow {
 border-width: 0!important;
}

/*消息提示样式*/
.msgTips {
  min-width: 250px!important;
  margin-left: 6%!important;
  z-index: 99999999999!important;
}
.el-message{
  z-index: 99999999999!important;
}

/*加载图标样式*/
.el-loading-mask {
  background-color: rgba(255,255,255,.6)!important;
}
.el-loading-spinner .path {
  display: none;
}
.el-loading-spinner .circular {
  background: url("../img/common/loading.gif") no-repeat center center;
}

.pswp--open {
  z-index: 9999!important;
}

.el-select-dropdown {
  z-index: 9999990!important;
}
.viewer-container{
  z-index: 9999990!important;
}






