/*=========无合计=========*/
>>> .el-table {
  background: #F6F6F6;
  border: 1px solid #DDD;
}

>>> .el-table__body-wrapper::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background: #E7EEF9;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

>>> .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #CED8EA;
  width: 3px;
  height: 5px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

>>> .el-table__footer-wrapper, .el-table__header-wrapper {
  height: 72px;
  background: #F6F6F6;
}

>>> .el-table .ascending .sort-caret.ascending {
  border-bottom-color: #5996F8;
}

>>> .el-table .descending .sort-caret.descending {
  border-top-color: #5996F8;
}

>>> .el-table__header {
  border-left: 1px solid #DDD;
}

>>> .el-table__body-wrapper {
  border-left: 0;
}

>>> .el-table__body {
  border-bottom: 1px solid #ececec;
}

>>> .el-table::before {
  display: none;
}

>>> .tableHeaderStyle th {
  background: #E5E5E5;
  height: 45px;
  padding: 0;
  line-height: 45px;
  color: #808080;
  font-size: 14px;
  border-bottom: 0;
  border-color: #DDD;
}

>>> .tableHeaderStyle th:nth-last-of-type(2) {
  border: 0;
}

>>> .tableRowStyle td {
  padding: 11px 0;
  height: 45px;
  border-bottom: 0;
  border-color: #DDD;
  transition: all .2s;
  color: #808080;
}

>>> .tableRow1nStyle td {
  background: #FFF;
}

>>> .tableRow2nStyle td {
  background: #F0F0F0;
}

>>> .tableRowStyle:hover td {
  background: #F0F4FA !important;
  color: #5996F8;
}

>>> .tableRowStyle td:last-of-type {
  position: relative;
  border-right: 0;
}

>>> .tableRowStyle td:last-of-type::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 100%;
  top: 0;
  right: -17px;
  transition: all .2s;
}

>>> .tableRow1nStyle td:last-of-type::after {
  background: #FFF;
}

>>> .tableRow2nStyle td:last-of-type::after {
  background: #F0F0F0;
}

>>> .tableRowStyle:hover td:last-of-type::after {
  background: #F0F4FA !important;
}

>>> .orderTableRowStyle:hover td {
  background: #F0F4FA !important;
}

>>> .el-table__footer-wrapper .has-gutter td {
  background: #F6F6F6;
  border-color: #F6F6F6;
  color: #FF0000;
  font-weight: 700;
  border-top: 1px solid #DDD;
}


